{% extends 'blog/base.html' %}

{% block content %}
<div class="post">
    {% if post.published_date %}
        {{ post.published_date }}
    {% else %}
       <a class="btn btn-outline-info" href="{% url "post_publish" pk=post.pk %}">公開</a>    
    {% endif %}
    {% if user.is_authenticated %}
    <a class="btn btn-danger" href="{% url "post_edit" pk=post.pk %}">編集</a>
    <a class="btn btn-outline-danger" href="{% url "post_remove" pk=post.pk %}">削除</a>
     {% endif %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.text|linebreaksbr|urlize }}</p>
</div>    
{% endblock %}